@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");

:root {
  --clr-red: hsl(14, 86%, 42%);
  --clor-green: hsl(159, 69%, 38%);
  --clr-rose-50: hsl(24, 45%, 98%);
  --clr-rose-100: hsl(13, 29%, 94%);
  --clr-rose-300: hsl(14, 25%, 72%);
  --clr-rose-400: hsl(7, 20%, 60%);
  --clr-rose-500: hsl(12, 20%, 44%);
  --clr-rose-900: hsl(14, 65%, 9%);
}

/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: calc((10 / 16) * 100);
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.6rem;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

/* colors */

.text-dark {
  color: var(--clr-rose-900);
}

.text-light {
  color: var(--clr-rose-300);
}

.text-accent {
  color: var(--clr-rose-400);
}

.text-green {
  color: var(--clor-green);
}

.bg-dark {
  color: var(--clr-red);
}

.bg-light {
  color: var(--clr-rose-50);
}

.bg-accent {
  color: var(--clr-rose-100);
}

/* ------------------- */
/* Compontents         */
/* ------------------- */
